{% extends 'partials/base.html.twig' %}

{% block content %}
    <a href="../current-projects"><h3><span class="fa fa-chevron-left"></span> Current Projects</h3></a>
    {{ page.content }}
{% endblock %}
