{% extends 'partials/base.html.twig' %}

{% block content %}
<a href="../services"><i class="fa fa-chevron-left"></i> Services</a><br/>
<div class="contact-links">
    <span class="contact-item"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Phone: 0427 460 504</span>
    <span class="contact-item"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email: leofebey@gmail.com</span>
</div>
    {{ page.content }}
{% endblock %}
